<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <listener>
        <listener-class>
            util.OnlineCounterListener
        </listener-class>
    </listener>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>LogCancelTServlet</servlet-name>
        <servlet-class>servlet.LogCancelTServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>EditInfoServlet</servlet-name>
        <servlet-class>servlet.EditInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>AddGoodsServlet</servlet-name>
        <servlet-class>servlet.AddGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>EditGoodsServlet</servlet-name>
        <servlet-class>servlet.EditGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>AddPhotoServlet</servlet-name>
        <servlet-class>servlet.AddPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>SelectGoodsServlet</servlet-name>
        <servlet-class>servlet.SelectGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>SelectUserServlet</servlet-name>
        <servlet-class>servlet.SelectUserServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>SelectLandTServlet</servlet-name>
        <servlet-class>servlet.SelectLandTServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>SelectVisitTServlet</servlet-name>
        <servlet-class>servlet.SelectVisitTServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>SelectOperationTServlet</servlet-name>
        <servlet-class>servlet.SelectOperationTServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>VisitGCancelTServlet</servlet-name>
        <servlet-class>servlet.VisitGCancelTServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>AddCollectionServlet</servlet-name>
        <servlet-class>servlet.AddCollectionServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>DeleteCollectionServlet</servlet-name>
        <servlet-class>servlet.DeleteCollectionServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>BuyGoodsServlet</servlet-name>
        <servlet-class>servlet.BuyGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>DeleteCartGoodsServlet</servlet-name>
        <servlet-class>servlet.DeleteCartGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>DeleteSaleGoodsServlet</servlet-name>
        <servlet-class>servlet.DeleteSaleGoodsServlet</servlet-class>
    </servlet>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>servlet.DeleteUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/servlet/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/servlet/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogCancelTServlet</servlet-name>
        <url-pattern>/servlet/LogCancelTServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfoServlet</servlet-name>
        <url-pattern>/servlet/EditInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGoodsServlet</servlet-name>
        <url-pattern>/servlet/AddGoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGoodsServlet</servlet-name>
        <url-pattern>/servlet/EditGoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPhotoServlet</servlet-name>
        <url-pattern>/servlet/AddPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectGoodsServlet</servlet-name>
        <url-pattern>/servlet/SelectGoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectUserServlet</servlet-name>
        <url-pattern>/servlet/SelectUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectLandTServlet</servlet-name>
        <url-pattern>/servlet/SelectLandTServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectVisitTServlet</servlet-name>
        <url-pattern>/servlet/SelectVisitTServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectOperationTServlet</servlet-name>
        <url-pattern>/servlet/SelectOperationTServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitGCancelTServlet</servlet-name>
        <url-pattern>/servlet/VisitGCancelTServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCollectionServlet</servlet-name>
        <url-pattern>/servlet/AddCollectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCollectionServlet</servlet-name>
        <url-pattern>/servlet/DeleteCollectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/servlet/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyGoodsServlet</servlet-name>
        <url-pattern>/servlet/BuyGoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartGoodsServlet</servlet-name>
        <url-pattern>/servlet/DeleteCartGoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSaleGoodsServlet</servlet-name>
        <url-pattern>/servlet/DeleteSaleGoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/servlet/DeleteUserServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>jsp/index.html</welcome-file>
        <welcome-file>jsp/index.jsp</welcome-file>
        <welcome-file>jsp/index.action</welcome-file>
    </welcome-file-list>
</web-app>